
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="/Default/Index/">Anasayfa</a></li>
            <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Hakkımızda</li>
        </ul>
    </div>
</section>
<!--  Intro video popup section -->
<section class="w3l-about1 py-5" id="intro">
    <div class="new-block top-bottom py-lg-5 py-md-4">
        <div class="container">
            <div class="title-content text-center">
                <h5 class="sub-title">Biz Kimiz?</h5>
                <h3 class="title-big">Hakkımızda</h3>
            </div>
            <div class="row mt-lg-5 mt-4">
                <div class="col-md-3 left-section">
                </div>
                <div class="col-md-6 middle-section text-center align-self">
                    <div class="section-width mb-lg-4 py-4">
                        <h2>Dünyada ki en leziz Pizza ve Hamburger Fikirleri ile Çeşitleri Burada.</h2>
                        <p class="mt-4">
                            Sadece lezzetli burgerleriyle değil, aynı zamanda yaratıcı ve benzersiz tatlarıyla da dikkat çeken bir mekandır. Kendine özgü tarifleri ve özenle seçilen malzemeleriyle burger tutkunlarının vazgeçilmezi haline gelmiştir.
                        </p>
                    </div>
                    <a href="#small-dialog" class="popup-with-zoom-anim play-view text-center">
                        <span class="video-play-icon">
                            <span class="fa fa-play"></span>
                        </span>
                    </a>

                    <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                    <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                        <iframe src="https://www.youtube.com/embed/nzYnFs_McJw" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-3 right-section mt-md-0 mt-4">
                </div>
            </div>
        </div>
    </div>
</section>