

<section class="w3l-about py-5">
    <div class="container py-lg-5 py-md-4">
        <div class="row">
            <div class="col-lg-6">
                <h3>En Lezzetli Pizzaların Yapıldığı Tek Yer</h3>
                <h5 class="mt-lg-3 mt-2">
                    Tuna Pizz olarak dünyada ve Türkiye’deki restoranlarımızda uzun senelerdir gösterdiğimiz azami özeni bugünlerde daha fazla hassasiyetle takip ettiğimizi sizlerle paylaşmak istedik.
                </h5>
                <p class="mt-sm-4 mt-3 mb-sm-0 mb-2">
                    Pizza Hut mutfaklarında, tüm çalışanlarımızın Sağlık Bakanlığı uyarılarına uygun olarak her türlü dezenfeksiyon önlemlerini uygulamasına azami özen gösteriyoruz. Kullandığımız tüm malzemelerin en hijyenik koşullarda servise hazır edilmesi konusunda iç denetimlerimizi yaptığımız gibi tedarikçilerimizin de ilgili önlemleri aldığının kontrolünü ilgili ekiplerimizle gerçekleştiriyoruz.
                </p>
                <a href="#" class="btn-style btn-primary btn mt-lg-5 mt-4">Daha fazla bilgi edinin</a>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5">
                <div class="row">
                    <div class="col-6 features-with-17-left1">
                        <a href="#url" class="icon"><img src="~/pizzapan-starter/assets/images/pizza.png" alt="" /></a>
                        <h4><a href="#url">Doğal malzemelerle pişmiş doğru yemek</a></h4>
                    </div>
                    <div class="col-6 features-with-17-left1">
                        <a href="#url" class="icon"><img src="~/pizzapan-starter/assets/images/burger.png" alt="" /></a>
                        <h4><a href="#url">Doğal en kaliteli ürünlerin kullanımı</a></h4>
                    </div>
                    <div class="col-6 features-with-17-left1 mt-5 pt-lg-3">
                        <a href="#url" class="icon"><img src="~/pizzapan-starter/assets/images/drink.png" alt="" /></a>
                        <h4><a href="#url"> Dünyanın en iyi Şefi ve Beslenme Uzmanı!</a></h4>
                    </div>
                    <div class="col-6 features-with-17-left1 mt-5 pt-lg-3">
                        <a href="#url" class="icon"><img src="~/pizzapan-starter/assets/images/fries.png" alt="" /></a>
                        <h4><a href="#url">Kapı adımınızda en hızlı teslimat</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>