@model Testimonial
@{
    ViewData["Title"] = "AddTestimonial";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Müşteri Ekleme Sayfası</h1>


<form method="post">

    <label>Müşteri Adı</label>
    <input asp-for="CustomerName" class="form-control" style="background-color:#b1b3b1" />
    <br />
    <label>Müşteri Mesleği</label>
    <input asp-for="CustomerTitle" class="form-control" style="background-color:#b1b3b1" />
    <br />
    <label>Müşteri Yorumu</label>
    <input asp-for="Comment" class="form-control" style="background-color:#b1b3b1" />
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>