
<section class="w3l-reasons py-5">
    <div class="main-w3 py-lg-5 py-md-4">
        <div class="container">
            <div class="title-content text-center">
                <h6 class="sub-title">we are the best</h6>
                <h3 class="title-big">Bizi seçmeniz için 4 neden</h3>
            </div>
            <div class="row main-cont-wthree-fea mt-5 text-center">
                <div class="col-lg-3 col-sm-6 grids-feature">
                    <a href="#url" class="icon"><img src="~/Pizzapan-starter/assets/images/pizza.png" alt=""></a>
                    <h4><a href="#feature" class="title-head">Lezzetli Pizzalar</a></h4>
                    <p>Pizzanın kenarları kabarık ve hafif yanık olmalı. Hamurda gözenekler bulunmalı ve bunlar farklı büyüklükte olmalı.</p>
                </div>
                <div class="col-lg-3 col-sm-6 grids-feature mt-sm-0 mt-5">
                    <a href="#url" class="icon"><img src="~/Pizzapan-starter/assets/images/burger.png" alt=""></a>
                    <h4><a href="#feature" class="title-head">Kaliteli Ürünler</a></h4>
                    <p>Karışık pizza malzemeleri genel olarak mantar, kaşar peyniri, domates, sucuk, salam ve sosis gibi malzemelerden oluşur.</p>
                </div>
                <div class="col-lg-3 col-sm-6 grids-feature mt-lg-0 mt-sm-5 mt-5">
                    <a href="#url" class="icon"><img src="~/Pizzapan-starter/assets/images/drink.png" alt=""></a>
                    <h4><a href="#feature" class="title-head">Dünyanın En İyi Şefleri</a></h4>
                    <p>Bu yıl dünyanın en iyi pizzacıları listesinde ilk sırayı Türkiye'nin Ankara kentinde bulunan "Tunahan Özkan" almıştır. </p>
                </div>
                <div class="col-lg-3 col-sm-6 grids-feature mt-lg-0 mt-sm-5 mt-5">
                    <a href="#url" class="icon"><img src="~/Pizzapan-starter/assets/images/fries.png" alt=""></a>
                    <h4><a href="#feature" class="title-head">En Hızlı Teslimat</a></h4>
                    <p>En hızlı ve güvenilir sipariş teslim etmekte Tuna Pizz tüm sipariş istatistiklerince memnuniyet sıralamasında oldukça başarılıdır.</p>
                </div>
            </div>
        </div>
    </div>
</section>